<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Trackgenix - Sign Up
        </title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <script src="../js/sign-up.js"></script>
    </head>
    <body>
        <header>
            <img src="../img/burguer-icon.png" alt="three-lines-icon" id="burguer-icon">
            <h1>
                <a href="../views/index.html">
                    Trackgenix
                </a>
            </h1>
            <p id="subtitle">
                We're Trackgenix SA
            </p>
        </header>
        <main>
            <section id="container">
                <h2 id="title-signup">
                    Sign Up
                </h2>
                <form>
                    <fieldset>
                        <div class="column">
                            <div class="log-field">
                                <input type="text" id="f-name" name="name" placeholder="Name" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">
                                <input type="text" id="l-name" name="last" placeholder="Last Name" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">
                                <input type="number" id="dni" name="dni" placeholder="D.N.I." class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">
                                <input type="date" id="birth" name="birth" placeholder="Birth Date" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">
                                <input type="number" id="phone" name="phone" placeholder="Phone Number" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">
                                <input type="text" id="location" name="location" placeholder="Location" class="field">
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="column">
                            <div class="log-field">
                                <input type="text" id="address" name="address" placeholder="Address" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">
                                <input type="number" id="zip" name="zip" placeholder="Zip Code" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">   
                                <input type="email" id="e-mail" name="e-mail" placeholder="user.tsa@trackgenix.com" class="field">  
                            </div>
                            <div class="line"></div>
                            <div class="log-field">   
                                <input type="password" id="pass" name="password" placeholder="Password" class="field">
                            </div>
                            <div class="line"></div>
                            <div class="log-field">   
                                <input type="password" id="c-pass" name="confirm-password" placeholder="Repeat Password" class="field">
                            </div>
                            <div class="line"></div>
                        </div>
                    </fieldset>
                    <div id="c-position">
                        <input type="submit" value="Continue" id="continue">
                    </div>
                </form>
            </section>
        </main>
        <footer>
            <p class="foot-text">
                    Rosario, Santa Fe - Argentina
            </p>
            <p class="foot-text">
                Copyright &copy; 2022 Trackgenix SA. All rights reseved
            </p>
        </footer>
    </body>
</html>