<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Trackgenix - Login
        </title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/login.css">
        <script src="../js/login.js"></script>
    </head>
    <body>
        <header>
            <img src="../img/burguer-icon.png" alt="three-lines-icon" id="burguer-icon">
            <h1>
                <a href="../views/index.html">
                    Trackgenix
                </a>
            </h1>
            <p id="subtitle">
                We're Trackgenix SA
            </p>
        </header>
        <main>
            <section id="container">
                <h2 id="title-login">
                    Log In
                </h2>
                <form id="form">
                    <fieldset>
                        <div id="input-e" class="log-field">
                            <img src="../img/mail-icon.png" alt="mail-icon">    
                            <input type="email" id="e-mail" name="e-mail" placeholder="user.tsa@trackgenix.com" class="field">  
                        </div>
                        <div class="line"></div>
                        <div id="input-p" class="log-field">
                            <img src="../img/lock-icon.png" alt="lock-icon">   
                            <input type="password" id="pass" name="password" placeholder="•••••••••" class="field">
                        </div>
                        <div class="line"></div>
                    </fieldset>
                    <fieldset>
                        <div id="record">
                            <input type="checkbox" id="remember-me" name="remember-info" value="remember-me">
                            <label for="remember">
                                Remember me
                            </label>
                        </div>
                        <a href="#" id="forgot">
                            Forgot your password?
                        </a>
                    </fieldset>
                    <div id="c-position">
                        <input type="submit" value="Continue" id="continue">
                    </div>
                </form>
            </section>
        </main>
        <footer>
            <p class="foot-text">
                    Rosario, Santa Fe - Argentina
            </p>
            <p class="foot-text">
                Copyright &copy; 2022 Trackgenix SA. All rights reseved
            </p>
        </footer>
    </body>
</html>
