@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#container {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFF;
    width: 450px;
    padding: 15px 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    margin-bottom: 150px;
}

#title-signup {
    font-size: 30px;
    font-weight: bold;
    color: #373867;
    margin-bottom: 20px;
}

#c-position {
    display: flex;
    justify-content: center;
}

#continue {
    display: flex;
    padding: 8px 55px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #AACE9B;
    color: #373867;
    cursor: pointer;
}

.column {
    display: flex;
    flex-wrap: wrap;
    
}

.log-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field {
    display: flex;
    padding: 12px 8px 12px 10px;
    border: none;
    border-bottom: 3px solid #AACE9B;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}