@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 122px;
    width: 85%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*HEADER */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 122px;
    width: 100%;
    background-color: #AACE9B;
    z-index: 99;
}

/* SIDEBAR */
aside {
    position: fixed;
    top: 122px;
    background-color: #373867;
    border-left: 49px solid #AACE9B;
    width: 15%;
    height: 100%;
    z-index: 80;
}

.aside-line {
    position: relative;
    top: 32px;
    width: 90%;
    border-bottom: 2px solid #69A362;
}

.aside-bt {
    display: block;
    position: relative;
    top: 32px;
    width: 162px;
    margin: 30px auto;
    padding: 10px 5px;
    background-color: #AACE9B;
    border-radius: 8px;
    font-size: 20px;
    color:#373867;
    text-align: center;
    text-decoration: none;
}

.aside-bt a {
    text-decoration: none;
    color: #373867;
}

.aside-contact {
    position: relative;
    padding: 0 15px;
    color: #fff;
    top: 25px;
}

.aside-h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

.aside-p1 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.aside-p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.aside-icons {
    position: relative;
    width: 24px;
    display: inline-block;
    left: 80px;
}

/* MAIN */
main {
    position: relative;
    top: 122px;
    left: 290px;
    width: 100%;
}

/* Welcome Section */
h1 {
    position: absolute;
    font-size: 86px;
    font-weight: bold;
    text-align: right;
    width: 100%;
    color: #373867;
    background-color: #AACE9B;
}

.subtitle {
    position: absolute;
    right: 20px;
    top: 90px;
    height: 32px;
    width: 249px;
    font-weight: bold;
    font-size: 27px;
    color: #69A362;
}

.welcome {
    position: relative;
}

.welcome-title {
    font-size: 72px;
    font-weight: bold;
    color: #373867;
    width: 100%;
}

.welcome-subtitle {
    font-size: 36px;
    font-weight: bold;
    color: #373867;
    width: 100%;
    display: block;
    margin-top: 30px;
}


.welcome-text {
    font-size: 24px;
    color: #373867;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 20px;
    width: 35%;
}

.first-img {
    position: absolute;
    top: 180px;
    right: 50px;
    width: 680px;
    height: auto;
}

/* Features Section */
.features {
    position: relative;
    top: 550px;
    width: 100%;
}

.features-title {
    margin: 0 0 80px 110px;
    font-size: 48px;
    font-weight: bold;
    color: #373867;
}

.features-block {
    display: inline-block;
    width: 600px;
    text-align: center;
}

.features-image {
    width: 210px;
    height: auto;
    opacity: 60%;
    float: left;
    z-index: 50;
}

.features-h4 {
    margin: 5% 0 8% 0;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #373867;
    z-index: 60;
}

.features-p {
    display: inline-block;
    width: 255px;
    text-align: center;
    color: #373867;
    font-size: 14px;
    line-height: 20px;
    z-index: 60;
}

/* Attributes Section */
.attributes {
    position: relative;
    top: 750px;
    padding-left: 12%;
}

.attribute-box {
    padding: 40px 60px 60px 60px;
    margin: 0 96px 50px 0;
    width: 290px;
    height: 250px;
    border: 5px solid #9AB593;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: inline-table;
}

.attributes-h4 {
    margin-bottom: 30px;
    font-size: 38px;
    color: #AACE9B;
    text-transform: uppercase;
}

.attribute-text {
    color: #373867;
}

/* Information Section */
.info {
    position: relative;
    top: 950px;
}

.info-title {
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 45px;
    color: #373867;
}

form {
    text-align: start;
    margin-left: 50px;
    font-weight: bold;
    color: #373867;
}

.form label {
    display: block;
}

.info-contact {
    margin: 15px 0 50px 0;
}

.info-c-type {
    display: inline;
    left: 258px;
}

.info-i {
    position: relative;
    display: inline;
    margin-left: 125px;
    width: 32px;
    height: 32px;
    background-color: #37386766;
    cursor: pointer;
}

input {
    margin: 15px 0 50px 0;
    padding: 15px 10px;
    width: 80%;
    border-style: none;
    border-radius: 15px;
    background-color: rgba(55, 56, 103, 0.4);
}

textarea {
    margin: 15px 0 50px 0;
    padding: 15px 10px;
    width: 80%;
    border-style: none;
    border-radius: 15px;
    background-color: rgba(55, 56, 103, 0.4);
}

.info-submit {
    display: block;
    position: absolute;
    padding: 8px 15px;
    border-style: none;
    border: 2px solid #373867;
    border-radius: 5px;
    background-color: #AACE9B;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    color: #373867;
    cursor: pointer;
}

/* History Section */
.history {
    position: relative;
    top: 1100px;
    text-align: center;
    width: 80%;
    color: #373867;
}

.history-title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.history-p1 {
    margin-bottom: 60px;
    margin-left: 5%;
    width: 90%;
    font-size: 24px;
    font-weight: 500;
}

.history-p2 {
    width: 60%;
    margin: 0 0 50px 20%;
    font-size: 18px;
}

/* Items Section */
.block {
    position: relative;
    top: 1200px;
    padding-left: 5%;
    text-align: center;
}

.block-column {
    display: inline-block;
    width: 20%;
    padding: 0 5%;
    text-align: justify; 
}

.block-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
    color:#AACE9B;
    text-transform: uppercase;
}

.block li {
    line-height: 20px;
    list-style-type: disc;
    font-weight: bold;
    color: #373867;
}

.block a {
    text-decoration: none;
}

/* FOOTER */
footer {
    position: absolute;
    top: 5100px;
    width: 1600px;
    height: 153px;
    background-color: #AACE9B;
}

.foot-text {
    margin: 30px 0 0 5%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #373867;
}