@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.foot-text {
    margin: 30px 0 0 5%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #373867;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #AACE9B;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) {
    footer {
        margin-top: 4810px;
        left: 5%;
    }
}

@media only screen and (min-width: 1024px) {
    footer {
        margin-top: 5500px;
    }
}