@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#subtitle {
    font-weight: bold;
    font-size: 17px;
    color: #69A362;
    margin-right: 10px;
    text-align: right;
}

#burguer {
    display: inline-flex;
}

header {
    position: fixed;
    background-color: #AACE9B;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    z-index: 99;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    color: #373867;
    margin-right: 10px;
    text-align: right;
}